<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="/addcategory/" class="form-horizontal" method="POST">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="price">类名</label>
                    <div class="col-sm-6"> <input type="text" id="price" name="name" value="" class="form-control" placeholder="理工类.et"></div>

                </div>
            <div class="col-sm-4 col-sm-offset-4"><button class="btn" type="submit">确定</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>